.node_modules/

.git/

node_modules/

# Vscode folder
.vscode/

# Github folder
.github/

# prompt.md

#Cursor rules
.cursor

# Next js folder
.next/

.lsp/

.clj-kondo/

# Log files
logs    

#Env files
.env    
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local
.envrc
